{% extends "layout.jinja2" %}

{% block pagestyles %}
    <link href="{{ url_for('static', filename='dist/css/dashboard.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
            
            <h1 style="margin-top: 80px">{{ sensor_name }} Sensor Calibration</h1>
            {% for message in get_flashed_messages() %}
                <div class="alert alert-warning">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}
                </div>
            {% endfor %}

            </h1>
            <br>
            <p></p>
            <br>
            <p>{{ message1 }}</p>
            <button id = "db1button" onclick = Acquire_data('1')> {{ button1 }} </button>
            <br>

            <p>{{ message2 }}</p>

            <button id = "db2button" onclick = Acquire_data('2')> {{ button2 }} </button>
            <p></p>


            <button id = "uploadbutton" onclick = Check_calibration()> Upload {{ sensor_name }} Calibration </button>

            <div id= "display-upload-result">  </div>


            <div class="loginsignup">
                <span>Bring me back to <a href="{{ url_for('main_bp.dashboard') }}">configuration page.</a></span>
            </div>

{% endblock %}


{% block additionalscripts %}
    <script>
 
        function Acquire_data(db) {
            var sensorname = '{{ sensor_name }}';
            $.post( "/sendcontrol", {sensor: sensorname, db_to_use:db});
        }

        function Check_calibration() {
            var sensorname = '{{ sensor_name }}';
            $.post( "/calcheck", {sensor: sensorname}, function(result){
                $("#display-upload-result").text(result);});
        }
    </script>
{% endblock %}

